@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Lemon&family=Original+Surfer&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Hind+Madurai:wght@300;400;500;600;700&family=Lemon&family=Original+Surfer&family=Yeseva+One&display=swap');

html {
  background-color: blue;
}

body {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 1rem;
  font-family: "Hind Madurai", serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1A3636;

}

h1 {
  font-family: "Yeseva One", serif;
  color: #D6BD98;
}

.logo {
  font-size: 5em;
  font-family: "Lemon", serif;
  font-weight: 400;
  font-style: normal;

}

.subtitle {
  font-family: "Lemon", sans-serif;
  color: #D6BD98;
}

.text {
  color: rgb(184, 202, 181);
  padding: 5px;
}

/************ MOVIE RECOMMENDATION FORM ************/

#movieRecForm {
  width:80vw;
  height:70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: unset;
}

#searchBar {
  display: flex;
  column-gap: 0;
  background-color: #b4ffb1d6;
  font-size: 1.3rem;
  border-radius: 40px;
  text-transform: uppercase;

  input {
    text-transform: uppercase;
    background-color: inherit;
    color: inherit;
    text-align: center;
    font-family: "Hind Madurai", serif;
    font-weight: 600;
    font-size: inherit;
    border-left: 3px solid #1A3636;
    border-top: none;
    border-bottom: none;
    border-right: none;
    
  }

  input:focus {
    outline: none;
  }

  input::placeholder, textarea::placeholder {
    color:inherit;
    opacity: 1;  /* Ensures full opacity */
  }

  button {
    font-family: "Hind Madurai", serif;
    font-weight: 600;
    font-size: inherit;
    background-color: inherit;
    border-radius: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-left: 3px solid #1A3636;

    span {
      color: inherit;
    }
  }

  button:before {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    outline: none;
  }

  button:active {
    outline: none;
    transform: scale(1.1);
  }
  
}

#searchButton {
  background-color: inherit;
    border-radius: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-left: 3px solid #1A3636;

}

/* Dropdown styling adapted from https://www.sliderrevolution.com/resources/css-select-styles/ */

.dropdown-container {
  width: 200px;
  margin: 20px;
}

.dropdown-header {
  background-color: inherit;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-list {
  background-color: #e4ffcc;
  /* border: 1px solid #ccc; */
  border-top: none;
  position: absolute;
  width: 200px;
  z-index: 1000;
  max-height: 200px; /* Set a max height */
  overflow-y: auto;
}

.dropdown-item {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-item:hover,
.dropdown-item.selected {
  background-color: #aeffc3;
}

.dropdown-item:hover:nth-child(even) {
  background-color: #87c898;
}

.dropdown-arrow {
  font-size: 12px;
}

/************ MOVIE LIST PAGE ************/

#moviePage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#movieContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
}

.read-the-docs {
  color: #888;
}

.card {

  margin: 50px auto;
  color: black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  width: 20vw;
  height: 310px;
  max-width: 220px;
  min-width: 200px;

  img {
    border-radius: 0.5rem;
  }

  button {
    text-decoration: none;
    outline: none;
    background-color: inherit;
  }

  button:hover {
    transform: scale(1.2);

  }

  button:active {
    outline: none;
    border: none;
  }
}

.card-back {
  background-color: #40534C;
  color: white;
  /* border-radius: 0.5rem; */
  margin: 50px auto;
  width: 20vw;
  height: 310px;
  max-width: 220px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  overflow-y:auto;
  padding: 10px;

  p {
    font-size: 0.8rem;
  }

  button {
    padding: 4px;
    margin: 5px;
  }
}

/* Button styling from https://getcssscan.com/css-buttons-examples */

/* CSS */
.button-48 {
  appearance: none;
  background-color: #25925f;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 2s cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #09181af3;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 2s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 2s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #98ffad;
  
}

.button-48 span {
  z-index: 1;
  position: relative;
}

Link {
  text-decoration: none;
}

/* */

#button-2 {
  background-color: #008060;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
  
  :hover {
    background-color: #006e52;
  }
}

/************ STREAMING LIST ************/

.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }

}

.icon-container {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;

}
